version: '3.8'

services:
  postgres:
    image: postgres:17
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres']
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - db
    profiles:
      - default
    volumes:
      - postgres-data:/var/lib/postgresql/data

  app:
    build: .
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      NODE_ENV: development
      PORT: 3000
      CORS_ORIGIN: '*'
      JWT_SECRET: changeme
      JWT_ISSUER: workshops-api
      JWT_AUDIENCE: workshops-api
      REFRESH_TOKEN_SECRET: changeme-refresh
      DATABASE_HOST: postgres
      DATABASE_PORT: 5432
      DATABASE_USER: postgres
      DATABASE_PASSWORD: postgres
      DATABASE_NAME: postgres
      BREVO_API_KEY: provide_me
      DEFAULT_SENDER_EMAIL: noreply@bopke.dev
      DEFAULT_SENDER_NAME: someone
    healthcheck:
      test: ['CMD', 'wget', '--no-verbose', '--tries=1', '--spider', 'http://localhost:3000/health']
      interval: 30s
      timeout: 3s
      start_period: 10s
      retries: 3
    networks:
      - db
    profiles:
      - default
    ports:
      - "3000:3000"
    command: npm run start:prod

  test:
    build: .
    profiles:
      - test
    command: npm run test

volumes:
  postgres-data:
networks:
  db:
    driver: bridge